.top-block {
   background-image: url("../images/headerbg.png");
   background-size: no-repeat;
   background-position: center;
   background-size: cover;
   width: 1440px;
   height: 500px;
   border-radius: 0px;
}

.top-block__menu {

}

.menu__logo {
   height: 26px;
   top: 3px;
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 26px;
/* identical to box height, or 100% */


color: #FFFFFF;
}

.nav__link {
height: 20px;
font-family: 'Oxygen';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-decoration: none;
letter-spacing: 0.6px;
color: #FFFFFF;
}


.menu__nav nav {
   height: 40px;
   left: 59.94%;
   right: 0%;
   top: 0px;
}

.top-block__center {
   height: 159px;
}

.center__main {
   width: 498px;
   height: 51px;
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 51px;
   text-align: center;
   letter-spacing: 2px;
   color: #FFFFFF;
}

.center__slogan {
   width: 504px;
   height: 20px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 20px;
   text-align: center;
   color: rgba(255, 255, 255, 0.63);
}

.top-block__button {
   border-radius: 3px;
   border-color: #DD783F;
   background: #DD783F;
   width: 167px;
   height: 44px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 20px;
/* identical to box height, or 154% */
   text-align: center;
   color: #FFFFFF;
}

.top-menu {
   height: 65px;
}

.top-menu__link {
   width: 47px;
   height: 20px;
   font-family: 'Lora';
   text-decoration: none;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
/* identical to box height, or 143% */
   text-align: center;
   color: #768088;
}

.main-content {
   height: 1255px;
   background: #F7F7F7;
   border-radius: 0px;
}

.main-content__toptext {
   width: 161px;
   height: 27px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
/* identical to box height, or 135% */

   text-align: center;
   letter-spacing: 2px;

   color: #2E2E2E;
}

.main-content__line {
   height: 1px;
   background: #DEDEDE;
   border-radius: 0px;
   width: 188px;
}

.main-content__bigpost {
   height: 280px;
   width: 460px;
   border-radius: 0px;
}

.bigpost__image {
  position: absolute;
}

.bigpost__headline {
   position: relative;
   height: 30px;
   width: 204px;
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 27px;
   line-height: 30px;
/* identical to box height, or 111% */
   color: #FFFFFF;
}

.bigpost__head {
   text-decoration: none;
   color: #ffffff;
}

.bigpost__text {
   position: relative;
   width: 316px;
   height: 25px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
/* identical to box height, or 179% */
   color: rgba(255, 255, 255, 0.7);
}

.bigpost__awatar {
   position: relative;
   height: 26px;
   width: 26px;
   border-radius: 15px;
}

.bigpost__autor {
   position: relative;
   width: 61px;
   height: 35px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 35px;
/* identical to box height, or 292% */
   color: rgba(255, 255, 255, 0.7);
}

.bigpost__date {
   position: relative;
   width: 108px;
   height: 35px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 35px;
/* identical to box height, or 292% */
   color: rgba(255, 255, 255, 0.7);
}

.bigpost__button {
   position: relative;
   width: 87px;
   height: 26px;
   border-radius: 2px;
   background: #DD783F;
   border-color: #DD783F;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 13px;
/* identical to box height, or 108% */
   text-transform: uppercase;
   color: #FFFFFF;
}

.main-content__middletext {
   width: 136px;
   height: 27px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 27px;
/* identical to box height, or 135% */
   text-align: center;
   letter-spacing: 2px;
   color: #2E2E2E;
}

.main-content__smallpost {
   width: 296px;
   height: 291px;
}

.smallpost__image {
   width: 296px;
   height: 150px;
   border-radius: 0px;
}

.smallpost__headline {
   width: 133px;
   height: 21px;
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
/* identical to box height, or 131% */
   color: #101315;
}

.smallpost__text {
   width: 255px;
   height: 19px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 19px;
/* identical to box height, or 146% */
   color: #7A7A7A;
}

.smallpost__line {
   width: 296px;
   height: 1px;
   background: #EFEFEF;
}

.smallpost__awatar {
   width: 26px;
   height: 26px;
   border-radius: 15px;
}

.smallpost__autor {
   width: 76px;
   height: 35px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 35px;
/* identical to box height, or 318% */
   color: #999999;
}

.smallpost__date {
   width: 58px;
   height: 35px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 35px;
/* identical to box height, or 292% */
   color: #999999;
}

.bottom-content {
   width: 1440px;
   height: 89px;
}

.bottom-content__bg {
   position: absolute;
   width: 1440px;
   height: 89px;
   color: #4D565D;
}

.bottom-content__logo {
   position: relative;
   width: 92px;
   height: 26px;
   font-family: 'Lora';
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 26px;
/* identical to box height, or 100% */
   color: #FFFFFF;
}

.bottom-content__nav {
   width: 640px;
   height: 32px;
}

.nav__link {
   position: relative;
   text-decoration: none;
   width: 37px;
   height: 26px;
   font-family: 'Oxygen';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 26px;
/* identical to box height, or 236% */
   text-align: right;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.6);
}