.top-block
{
   background: url("../images/header_background.png") no-repeat center;
   background-size: cover;
   padding: 50px 5px;
}

.body
{
   display: flex;
   flex-direction: column;
}

.menu__logo 
{
   top: 3px;
   font: 400 26px 'Lora';
   color: #FFFFFF;
}

.nav__link
{
   font: 400 12px/0.6 'Oxygen';
   text-decoration: none;
   color: #FFFFFF;
}

.menu__nav
{
   padding: 20px 0px;
}

.main__title
{
   font: 400 50px 'Lora';
   text-align: center;
   letter-spacing: 2px;
   color: #FFFFFF;
}

.main__slogan
{
   font: 400 17px/0.85 'Oxygen';
   text-align: center;
   color: rgba(255, 255, 255, 0.63);
}

.main__button
{
   border-radius: 3px;
   border-color: #DD783F;
   background: #DD783F;
   padding: 19px 45px;
   font: 400 13px/0.65 'Oxygen';
   text-align: center;
   color: #FFFFFF;
}

.top-menu
{
   padding-top: 20px;
   height: 65px;
}

.top-menu__link
{
   text-decoration: none;
   font: 400 14px/0.7 'Lora';
   text-align: center;
   color: #768088;
}

.main-content
{
   background: #F7F7F7;
}

.main-content__top-text
{
   font: 400 20px/0.74 'Oxygen';
   text-align: center;
   letter-spacing: 2px;
   color: #2E2E2E;
   border-bottom: 1px solid rgb(151, 151, 151);
}

.main-content__big-post
{
   padding: 120px 5px;
   border-radius: 0px;
}

.big-post__headline
{
   position: relative;
   font: 400 27px/0.9 'Lora';
   color: #FFFFFF;
}

.big-post__head
{
   text-decoration: none;
   color: #ffffff;
}

.big-post__text
{
   position: relative;
   font: 400 14px/0.56 'Oxygen';
   color: rgba(255, 255, 255, 0.7);
}

.big-post__awatar
{
   position: relative;
   border-radius: 15px;
}

.big-post__autor
{
   position: relative;
   font: 400 12px/0.34 'Oxygen';
   color: rgba(255, 255, 255, 0.7);
}

.big-post__image {
   position: absolute;
}

.big-post__date
{
   position: relative;
   font: 400 12px/0.34 'Oxygen';
   color: rgba(255, 255, 255, 0.7);
}

.big-post__button
{
   position: relative;
   padding: 10px 32px;
   border-radius: 2px;
   background: #DD783F;
   border-color: #DD783F;
   font: 400 12px/0.95 'Oxygen';
   text-transform: uppercase;
   color: #FFFFFF;
}

.main-content__middletext
{
   font: 400 20px/0.74 'Oxygen';
   text-align: center;
   letter-spacing: 2px;
   color: #2E2E2E;
   border-bottom: 1px solid rgb(151, 151, 151);
}

.main-content__small-post
{
   padding: 50px 5px;
}

.small-post__image
{
   border-radius: 0px;
}

.small-post__headline
{
   font: 400 16px/0.76 'Lora';
   color: #101315;
}

.small-post__text
{
   font: 400 13px/0.7 'Oxygen';
   color: #7A7A7A;
   border-bottom: 1px solid rgb(151, 151, 151);
}

.small-post__awatar
{
   width: 26px;
   height: 26px;
   border-radius: 15px;
}

.small-post__autor
{
   font: 400 11px/0.29 'Oxygen';
   color: #999999;
}

.small-post__date
{
   font: 400 12px/0.34 'Oxygen';
   color: #999999;
}

.bottom-content
{
   padding: 30px 5px;
}

.bottom-content__background
{
   position: absolute; 
   color: #4D565D;
}

.bottom-content__logo
{
   position: relative;
   font: 400 26px/1 'Lora';
   color: #FFFFFF;
}

.bottom-content__nav
{
   padding: 30px 0px;
}

.nav__link
{
   position: relative;
   text-decoration: none;
   font: 400 11px/0.4 'Oxygen';
   text-align: right;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.6);
}

.header
{
   padding: 10px 10px;
   border-radius: 0px;
}

.header__logo
{
   padding: 5px 2px;
   font: 400 26px/1 'Lora';
   color: #000000;
}

.header__nav
{
   padding: 10px 0px;
}

.nav__element
{
   padding: 10px 0px;
   font: 400 12px/0.7 'Oxygen';
   text-decoration: none;
   letter-spacing: 0.6px;
   color: #000000;
}

.big-image
{
   padding: 5px 0px
}

.main-text
{
   padding: 30px 10px;
}

.main-text__text
{
   width: 960px;
   left: 240px;
   top: 140px;
   font: 400 24px/1.1 'Oxygen';
   color: #101315;
}